<br/>
<div class="jumbotron">
  <h1>Blocmarks</h1>
  <p>Blocmarks is a resource for sharing bookmarks with your friends!</p>
  
</div>

<div class="row jumbotron">
  <div class="col-md-4 ">
    <h2>Declutter</h2>
    <p>Provides a friendly interface for managing your bookmarks.</p>
  </div>
  <div class="col-md-4 ">
    <h2>Share</h2>
    <p>Allows you and your friends to share bookamrks with one another with ease.</p>
  </div>
  <div class="col-md-4 ">
    <h2>Topic-based</h2>
    <p>Sorts bookmarks by topics for a greater ease of use.</p>
  </div>
</div>